.containerContactForm {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.inputFindForm {
  border: 2px solid #5abd8c;
  border-radius: 15px;
  padding: 36px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputTitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  color: #5abd8c;
}
.input {
  border-radius: 8px;
  border-color: #5abd8c;
}

.inputFindForm :hover,
.inputFindForm :focus,
.inputFindForm:focus-visible {
  border-radius: 8px;
  border-color: #96e4bd;
  outline: none;
}
