.wrapper {
  display: flex;
  gap: 8px;
  text-align: left;
  word-wrap: break-word;
  white-space: normal;
}
.deleteBtn {
  position: absolute;
  display: flex;
  right: 10px;
  top: 18px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid hsl(332, 85%, 44%);
  border-radius: 8px;
  font-size: 18px;
}
.deleteBtn:hover,
.deleteBtn:focus {
  background-color: hsl(332, 85%, 44%);
  border-color: rgb(206, 17, 105);
  color: #fff;
}
