.contactList {
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-height: 200px;
  gap: 8px;
  box-shadow: 0 0 8px rgba(206, 17, 105, 0.5);
  transition: box-shadow 0.3s ease;
}
p {
  margin: 0;
}
.deleteBtn {
  position: absolute;
  display: flex;
  right: 10px;
  top: 18px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
}
.deleteBtn:hover,
.deleteBtn:focus {
  background-color: rgb(206, 17, 105);
  border-color: rgb(206, 17, 105);
}
.number,
.name {
  display: flex;
  gap: 4px;
  align-items: baseline;
}
